<body>
    <main>
        <section class="section--contact wf-section">
            <div class="page-padding">
                <div class="container--large w-container">
                    <div class="contact-content__wrapper  wrapper">
                        <div class="contact-title__wrapper left-column">
                            <div class="contact-title">
                                REGISTER
                            </div>
                        </div>
                        <div class="contact-form__wrapper right-column">
                            <div class="contact-form form-wrapper ">
                                <form id="email-form" [formGroup]="newUserRegistrationForm" (ngSubmit)="onSubmit()">
                                    <div class="form-item">
                                        <label class="form-label" for="name">Full Name</label>
                                        <input class="form-field" id="name" placeholder="Name" name="name" formControlName="name" 
                                        placeholder="what is your name ?">
                                        <div
                                            *ngIf="newUserRegistrationForm.get('name')?.invalid && newUserRegistrationForm.get('name')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('name')?.hasError('required')">Name
                                                is required</div>
                                            <div
                                                *ngIf="newUserRegistrationForm?.get('name')?.hasError('alphabetsOnly')">
                                                {{
                                                newUserRegistrationForm.get('name')?.errors?.['alphabetsOnly']?.message
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <label class="form-label" for="age">Age</label>
                                        <input class="form-field" id="age" name="age"  placeholder="age" formControlName="age">
                                        <div
                                            *ngIf="newUserRegistrationForm.get('age')?.invalid && newUserRegistrationForm.get('age')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('age')?.hasError('required')">Age
                                                is required
                                            </div>
                                            <div
                                                *ngIf="newUserRegistrationForm?.get('name')?.hasError('validAgeError')">
                                                {{
                                                newUserRegistrationForm.get('age')?.errors?.['validAgeError']?.message
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <label class="form-label">Gender
                                        <div>
                                            <label class="form-label" for="genderMale">
                                                <input id="genderMale" name="gender" type="radio" formControlName="gender" value="MALE"> Male
                                                
                                            </label>
                                            <label class="form-label" for="genderFemale">
                                                <input id="genderFemale" name="gender" type="radio" formControlName="gender" value="FEMALE"> Female
                                            </label>
                                        </div>

                                        <div
                                            *ngIf="newUserRegistrationForm.get('gender')?.invalid && newUserRegistrationForm.get('gender')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('gender')?.hasError('required')">
                                                Select a gender</div>
                                        </div>
                                        </label>
                                    </div>
                                    <br>
                                    <div class="form-item">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-field" type="email" id="email" formControlName="email"
                                            placeholder="Enter your email">
                                        <div
                                            *ngIf="newUserRegistrationForm.get('email')?.invalid && newUserRegistrationForm.get('email')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('email')?.hasError('required')">Email is required
                                            </div>
                                            <div *ngIf="newUserRegistrationForm.get('email')?.hasError('email')">Invalid email format
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <label class="form-label" for="username">username</label>
                                        <input class="form-field" id="username" name="username" type="text" placeholder="username" formControlName="username">
                                        <div
                                            *ngIf="newUserRegistrationForm.get('username')?.invalid && newUserRegistrationForm.get('username')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('username')?.hasError('required')">
                                                enter a username
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <label class="form-label" for="password">password</label>
                                        <input class="form-field" id="password" name="password" type="password" placeholder="enter password"
                                        formControlName="password">
                                        <div
                                            *ngIf="newUserRegistrationForm.get('password')?.invalid && newUserRegistrationForm.get('password')?.touched">
                                            <div *ngIf="newUserRegistrationForm.get('password')?.hasError('required')">
                                                enter a password
                                            </div>
                                            <div
                                                *ngIf="newUserRegistrationForm.get('password')?.hasError('minLength') && newUserRegistrationForm.get('password')?.touched">
                                                password length should be greater than 6
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-item">
                                        <button class="btn btn-purple" type="submit"
                                           [disabled]="newUserRegistrationForm.invalid">Submit</button>
                                    </div>
                                    <button class="btn btn-purple registerLink" type="submit" routerLink="/register"
                                         *ngIf="showRegisterToLinkButton"  >go to login</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>