<body>
<nav class="navbar navbar-expand-lg navbar-light fs-4">
    <div class="container">
      <a class="navbar-brand fs-4" routerLink="/emh">EMH</a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link login pe-2" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link register pe-2" routerLink="/register">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="half-half-image-text">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>About Eisler Memorial Hospital</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="content">
            <p>Welcome to Eisler Memorial Hospital, a leading healthcare institution located in the heart of Dusseldorf, Germany. 
              With a legacy of compassionate care spanning decades, we are dedicated to providing exceptional medical services to our community and beyond. 
              At Eisler Memorial Hospital, we prioritize the well-being of our patients above all else. 
              Our state-of-the-art facilities, cutting-edge technology, and a team of highly skilled medical professionals ensure that you receive the highest quality healthcare tailored to your individual needs.
               From advanced surgical procedures to specialized medical treatments, our commitment to excellence drives every aspect of our patient-centric approach. 
               Trust Eisler Memorial Hospital for unparalleled medical expertise and a comforting environment, where your health is our utmost priority.
               Your journey to wellness begins with us.</p>
               
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="img">
            <img src="https://cdn.apollohospitals.com/dev-apollohospitals/2020/09/apollo-home-ahmedabad-1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" [routerLink]="['/login']">Book Appointment</button>
      <button mat-raised-button color="accent" [routerLink]="['/login']" >View Doctors</button>
    </div>
  </section>



  
  
  
</body>


  